<table class="table">
    <thead>
    <tr>
        <th class="left">Shortcut</th>
        <th class="left">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="left">
            <span class="hotkeys-keys">
                <span class="hotkeys-key hotkeys-key--dark">ctrl + ⇧ + alt + k</span>
            </span>
        </td>
        <td class="left">Open the on screen keyboard window</td>
    </tr>
    <tr>
        <td class="left">
            <span class="hotkeys-keys">
                <span class="hotkeys-key hotkeys-key--dark">ctrl + ⇧ + alt + c</span>
            </span>
        </td>
        <td class="left">Open the clipboard window</td>
    </tr>
    <tr>
        <td class="left">
            <span class="hotkeys-keys">
                <span class="hotkeys-key hotkeys-key--dark">ctrl + ⇧ + alt + s</span>
            </span>
        </td>
        <td class="left">Open the settings window</td>
    </tr>
    <tr>
        <td class="left">
            <span class="hotkeys-keys">
                <span class="hotkeys-key hotkeys-key--dark">ctrl + ⇧ + alt + f</span>
            </span>
        </td>
        <td class="left">Enter full screen mode</td>
    </tr>
    </tbody>
</table>
<div class="modal-footer">
    <button type="button" (click)="close.next(null)" class="btn btn-outline">Close</button>
</div>
